@import url("../assets/fonts/fonts.css");

:root {
    --primary: #fbe9d0;
    --secondary: #874f41;
    --tertiary: #0f11af;
    --quaternary: #90aead;
    --fivetanary: #e64833;
    --font-black: #000;
}

.dark {
    background: #c01919 !important;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Extatica", sans-serif;
    transition: all 0.3s;
    color: #000;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.dark-mode {
    position: fixed;
    bottom: 15px;
    right: 40px;
    z-index: 1000;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    background: #1c1839;
    padding: 0.3rem;
}

.dark-mode img {
    width: 20px;
}

.welcome-textcolor {
    color: #fff !important;
}

.home {
    margin: auto;
    width: 40%;
    min-height: 70dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    margin-top: 5vh;
    position: relative;
    padding: 5rem;
    background: var(--tertiary);
    border-radius: 1rem;
}

.wrapper > div:first-child {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.wrapper div img {
    border-radius: 50%;
    width: 200px;
}

.use-email {
    font-weight: 300;
}
.use-email span {
    font-weight: 700;
    color: #e64833;
}

.wrapper div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 1px 1px 5px 4px rgba(188, 186, 186, 0.75);
}

.wrapper div:nth-child(2) a {
    background: var(--primary);
}

.wrapper p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 1rem;
    color: #fff;
}

.login-btn {
    display: block;
    position: relative;
    font-family: "ProductSans", sans-serif;
    padding: 10px;
    border: none;
    width: 220px;
    color: blue;
    font-size: 20px;
    border-radius: 1rem;
    transition: all 0.3s;
    box-shadow: 2px 2px 6px 3px rgba(179, 178, 178, 0.75);
}

.login-btn::after {
    content: url("../assets/icons/google.png");
    position: absolute;
    top: -2px;
    padding: 10px;
}

.login-btn:hover {
    box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.75);
}

/* page layout */

.layout {
    width: 100%;
    display: grid;
    grid:
        "sidebar body" 1fr
        / auto 1fr;
    gap: 8px;
    background: var(--primary);
}

.sidebar {
    position: relative;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    height: 100dvh;
    background: var(--tertiary);
    z-index: 5;
}
.body {
    padding-top: 3rem;
    grid-area: body;
    overflow-y: scroll;
    width: 79vw;
    height: 100dvh;
    padding-bottom: 20vh;
    position: relative;
}

.body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--primary);
    border-radius: 10px;
    margin-top: 20px;
}

.body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--primary);
}

.body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--tertiary);
}

li {
    list-style: none;
}

header {
    position: fixed;
    height: 3rem;
    width: 100dvw;
    background: hsla(196, 40%, 24%, 0.89);
    backdrop-filter: blur(10px);
    top: 0;
    z-index: 1;
}

header ul {
    display: flex;
    height: 3rem;
    justify-content: right;
    gap: 1rem;
    align-items: center;
    font-size: 1.3rem;
    margin-right: 1rem;
}

header ul li {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    background: var(--fivetanary);
    color: var(--primary);
    border-radius: 0.3rem;
    text-align: center;
    cursor: pointer;
}

header ul li img {
    padding-left: 0.5rem;
}

header ul li:hover {
    background: #dad0d0;
    color: white;
}

header a {
    color: white;
}

.bars {
    position: fixed;
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 0 0 15px;
    z-index: 1000;
}

.bars img {
    width: 40px;
}

.menu[type="checkbox"] {
    display: none;
}

/* sidebar */

.img-wrapper {
    flex: 0.5;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.sidebar nav {
    flex: 2;
    margin-bottom: auto;
}

.usersInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem 0;
    background: var(--quaternary);
    border-radius: 0.3rem;
    text-align: center;
    font-weight: 700;
}

.usersInfo h2 {
    font-size: 1.5rem;
}

/* .usersInfo::after{
    position: absolute;
    content: 'Welcome';
    background-color: var(--fivetanary);
    padding: 0.2rem;
    border-radius: 0.3rem;
    top: -15px;
    left: 0;
}
 */

.btn-hover {
    border: none;
    background-size: 300% 100%;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover.color-6 {
    background-image: linear-gradient(
        to right,
        #90aead,
        #fbe9d0,
        #90aead,
        #fbe9d0
    );
}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 1rem;
    background: var(--quaternary);
    border-radius: 0.3rem;
    text-align: center;

    font-size: 1.2rem;
    font-weight: 700;
}

.sidebar ul li:hover {
    scale: 1.05;
    background: var(--fivetanary);
    color: white;
  	
  	img {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(57deg)
        brightness(105%) contrast(102%);
}
  
}

.sidebar ul li img {
    padding-left: 20%;
}



.logo {
    height: 150px;
}

.aboutus {
    width: 100%;
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.aboutus ul li {
    margin-top: 0.5rem;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.popup {
    z-index: 100;
    border: 1px solid var(--primary);
    display: none;
    position: absolute;
    right: 0;
    margin: 1rem;
    background: var(--tertiary);
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    box-shadow: #cf9494;
    -webkit-box-shadow: -12px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -12px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -12px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.popup-content {
    margin: 3rem 0 3rem;
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: top;
    justify-content: space-between;
    background: var(--fivetanary);
}

.popup-content h2,
.popup-content h3 {
    color: var(--primary);
}

.popup-content div p {
    color: #fff;
    padding-top: 1.5rem;
}

.popup-content div img {
    border-radius: 50%;
    border: 1px solid black;
}

#popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0.2rem;
    background: #cf9494;
    border-radius: 0.2rem;
    cursor: pointer;
}

#popup-close:hover {
    background: red;
}

.content {
    padding: 1rem;
    background: var(--tertiary);
    border-radius: 0.3rem;
    overflow: hidden;
}

.logged-home h3::after {
    content: url("../assets/icons/open_inew.svg");
    margin-left: 1rem;
}

.logged-home h3 {
    text-decoration: underline;
    text-decoration-color: var(--fivetanary);
    text-underline-offset: 0.3rem;
    display: flex;
    justify-content: space-between;
}

.timer {
    justify-content: center !important;
}

.timer > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer p {
    font-size: 1.2rem;
}

.timer h3 {
    font-size: 1.5rem;
}

.timer:hover {
    scale: 1 !important;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 0.5rem;
}

.countdown-item {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 1.5rem;
}

.countdown-item:not(:last-child)::after {
    position: absolute;
    right: -13px;
    top: -2px;
    content: ":";
    font-size: 2rem;
    padding-left: 10px;
}

.countdown-item span:nth-child(2) {
    font-size: 2rem;
    font-weight: 700;
}

.recordings,
.papers,
.quicklinks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding: 1rem 0 0.5rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    background: var(--quaternary);
    border-radius: 0.3rem;
    margin: 0.2rem;
}

.papers-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    >div{
        background: var(--quaternary);
        padding: 1rem;
        border-radius: 0.3rem;

        >h3{
            font-size: 1.5rem;
            width: fit-content;
            border-bottom: 2px solid #fff;
            margin-bottom: 0.5rem;
        }
    }

    .dept{
        display: flex;
        flex-wrap: wrap;

        .card{
            background: var(--secondary);
            width: 320px;
            height: 80px;
            position: relative;

            h3,p{
                color: var(--primary);
                margin-right: 5px;
            }
            
            
        }

        .card::after{
            content: url("../assets/icons/open_inew.svg");
            position: absolute;
            top: 5px;
            right: 5px;
            display: block;
        }

        .card:hover{
            background: var(--fivetanary);
            h3,p{
                color: #fff;
            }
        }
    }
}

.assignments div:hover {
    scale: 1;
}

.assignments h2::after,
.next-exam h2::after {
    content: "" !important;
}
.assignment-countdown,
.timer {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5rem;
    margin-top: 1rem;
}

.assignment-countdown > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.assignment-countdown > div:first-child {
    width: 350px;
}

.card:hover {
    /* box-shadow: 0px 0px 8px 9px rgba(65,64,249,0.63);
-webkit-box-shadow: 0px 0px 8px 9px rgba(65,64,249,0.63);
-moz-box-shadow: 0px 0px 8px 9px rgba(65,64,249,0.63); */
    scale: 1.02;
}

.card li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary);
    /* var(--font-black) */
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
}

.ext-link {
    color: var(--primary);
}

.ext-link:hover,
.sep-hover:hover {
    background: #e64833 !important;
    color: var(--primary) !important;
}

.sep-hover:hover h3 {
    color: #fff;
    text-decoration-color: #fff !important;
}

.semester {
    max-height: 0px;
    transition: max-height 0.3s;
    overflow: hidden;
}

input[type="checkbox"] {
    display: none;
}

#semI:checked ~ .semester {
    max-height: 300dvh;
}

#semII:checked ~ .semester {
    max-height: fit-content;
}

.content label {
    cursor: pointer;
}

.content h2,
.socials h3 {
    position: relative;
    color: #fff;
}

.content h2::after {
    content: url("../assets/icons/dropdown.svg");
    margin-left: 1rem;
    position: absolute;
    top: 5px;
    right: 1rem;
}

.papers .card h3 {
    display: flex;
    justify-content: space-between;
}

.card ul li::after,
.papers .card h3::after {
    content: url("../assets/icons/open_inew.svg");
}

.display {
    display: block;
}

.aboutpage {
    font-size: 1.1em;
}

.aboutpage h2::after {
    content: "";
}

.aboutpage h3 {
    color: var(--primary);
}

.aboutpage p {
    color: #fff;
}

.aboutpage ul {
    padding: 0.5rem;
    font-size: 1.2em;
}

.aboutpage ul li {
    list-style-type: disc;
    margin-left: 2rem;
    padding: 1rem 0;
    color: #fff;
    border-bottom: 1px solid var(--fivetanary);
}

.aboutpage ul li a {
    color: var(--primary);
}
.aboutpage ul li a:hover {
    scale: 1.1;
}

.aboutpage ul li:last-child {
    margin: auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.github {
    width: 80px;
    padding-top: 0.5rem;
}

.softwares {
    display: flex;
    flex-direction: row;
    align-items: center;

    > img {
        width: 80px;
        -webkit-box-shadow: -7px 6px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -7px 6px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -7px 6px 5px 0px rgba(0, 0, 0, 0.75);
    }

    span {
        display: flex;
        align-items: center;
        background: #ef476f;
        width: 100px;
        padding: 8px;
        border-radius: 0.5rem;
        margin-top: 4px;
        gap: 10px;
        position: relative;
    }

    span img {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    a {
        display: block;
        width: fit-content;
        border-radius: 0.5rem;
    }

    a:hover,span:hover {
        background: var(--tertiary);
        color: #fff;
    }
}

.softwares:hover {
    scale: 1;
}

.malkoha-gaming {
    
    background-color: var(--tertiary);
    padding: 1rem 0.8rem 0.8rem 0.8rem;
    border-radius: 1rem;
    margin: 0.5rem;
    position: absolute;
    bottom: 0;
    right: 0;

    h2 {
        position: relative;
        color: #fff;
        font-size: 1.2rem;
    }

    a {
        color: var(--fivetanary);
    }
}

.malkoha-gaming img {
    height: 15px;
    position: absolute;
    top: 5px;
    right: 10px;
}

.malkoha-gaming:hover {
    background-color: var(--fivetanary);
    color: #fff;

    h2{
        color: var(--tertiary);
    }
    a{
        color: #fff;
    
    }
}
.kuppi-videos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    flex: 1;

    

    a:hover{
        div{
            background: var(--fivetanary);
            scale: 1.02;
            h3,p{
                color: #fff;
            
            }
        }
    }

    .card {
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 350px;
    }
    .card:hover {
        scale: 1;
    }


    .kuppi-content {
        position: relative;
        height: 200px;
        width: 320px;
        flex: 1;

        
    }

    .kuppi-parts {
        flex: 2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap:0.5rem 1rem;
        div {
            position: relative;
            padding: 0.5rem;
            border-radius: 0.3rem;
            background: var(--secondary);
            width: 250px;
            height: 90px; 
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            
            h3{
                color: #fff;
            }
            p{
                margin-top: 5px;
                color: #fff;
            }
        }

        div::after{
            content: url("../assets/icons/open_inew.svg");
            position: absolute;
            top: 5px;
            right: 5px;
        }

        
    }
}

.kuppi-videos .card {
    width: 100%;
}

.kuppi-bg {
    background: url("../assets/backgrounds/kuppibg.jpg");
    background-size: cover;
    filter: blur(3px);
    width: 100%;
    height: 100%;
}

.kuppi-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: rgba(188, 186, 186, 0.849);
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    h3 {
        font-size: 1.5rem;
    }

    
}

.feedback {
    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background: var(--quaternary);
        border-radius: 0.5rem;
        margin: 0.2rem;
    }

    form textarea{
        padding: 0.5rem;
        border-radius: 0.3rem;
        resize: none;
        height: 60px;
        font-size: 1rem;
        outline: none;
    }

    form button{
        padding: 0.5rem;
        border-radius: 0.3rem;
        background: var(--tertiary);
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        max-width: 300px;
    }

    form button:hover{
        background: var(--fivetanary);
       
    }
}

.feedback .card:hover{
    scale: 1;
}

@media screen and (max-width: 480px) {
    .kuppi{
        height: auto;
    }
    
    .kuppi-videos{
        min-height: fit-content;
        .card{
            max-height: fit-content;
        }
        .kuppi-content{
            height: 150px;
        }

        .kuppi-parts{
            flex: auto;

            a{
                width: 100%;
            }

            div{
                width: 100%;
                justify-content: center;
            }
        }

    }
}

@media screen and (max-height: 640px) {
    .img-wrapper {
        display: none;
    }
}

@media screen and (max-height: 768px) {
    .img-wrapper img {
        height:130px;
    }
  
  .sidebar nav ul{
  	gap:0.6rem;
  }
  
  .aboutus{
  	padding:0.7rem 1rem;
  }
}

@media screen and (max-width: 768px) {
    .sidebar nav {
        margin-top: 5rem;
    }
    .recordings,
    .papers {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .layout {
        display: flex;
    }

    .bars {
        display: inline;
    }

    .sidebar {
        display: block;
        width: 100%;
        max-width: 0;
        min-width: 0;
        overflow: hidden;
        transition: min-width 0.5s;
    }

    .body {
        width: 100vw;
    }

    .active {
        min-width: 80vw;
    }

    .img-wrapper {
        display: none;
    }

    .popup {
        margin: 1rem 0;
        padding: 0 1rem;
    }

    .popup-content {
        flex-direction: column-reverse;
        align-items: center;
        padding: 1rem;
        margin: 0;
        font-size: 0.9em;
    }

    .timer {
        font-size: 0.9em;
    }

    .timer h3 {
        font-size: 1.5em;
    }

    .timer p {
        font-size: 1rem;
    }

    .countdown-item {
        font-size: 0.8rem;
    }

    .aboutpage ul li {
        font-size: 1em;
        margin-left: 1rem;
        padding-top: 1rem;
    }

    .aboutpage ul li:last-child {
        width: 90%;
        margin: 0;
        font-size: large;
    }

    .papers,
    .recordings,
    .quicklinks {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }

    .assignment-countdown,
    .timer {
        gap: 1rem;
    }
  
  	.malkoha-gaming {
        padding: 0.8rem 0.5rem 0.6rem 0.6rem;
        
        h2 {
            font-size: 1rem;
            
        }

        img{
            height: 12px;
            top: 3px;
            right: 9px;
        }

        a {
            color: var(--fivetanary);
        }
    }
}



